#home {
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.47I3dbPAlPXQ-59O78JYKQHaFo&pid=Api&P=0&h=180');
    background-repeat: no-repeat;
    padding: 20px;
  font-size: 200%;
  text-align: center;
  background-position: center;
  background-size: cover;
  /* border-bottom: 30px solid #0f4098;  */
   width: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
} 


h1 {
    color: crimson;
    font-size: larger;
    padding: 15px;
    border: 19px;
    background: black;
}
#owner {
  background-image: url("https://media.istockphoto.com/id/1374453227/photo/shot-of-a-young-businesswoman-standing-in-an-office-at-work.webp?b=1&s=170667a&w=0&k=20&c=sUfpzZQt8vdDS-Ev7dbbwIbC9afxNchfAxecrO9WwHY=");
  background-repeat: no-repeat;
  /* background-size: 90px 90px; */
   align-items: center; 
/* display: flex; */
   padding: 10px; 
  /* font-size: 150%;  */
 /* text-align: left;  */
 background-position: center; 
 /* background-size: cover;  */
/* height: 500px; */
  /* width: fit-content;   */


}
.owner p {
    width: fit-content;
    color: yellowgreen;
    font-size: 19px;
    padding: 6px;
    background: black;

    
}
.button {
  border-style: solid;
  border-color: black;
    border: 25px;
    padding: 3px;
    background:mediumaquamarine;
    color: black;

}
a {
  color: black;
}
p.companyhistory {
  text-align: left;
 display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  align-items: center;
  margin: 3px;
}
.clipper-image {
  width: 10%;
   height: auto; 
 float: right;
display: inline-block;
}
#text-align {
  text-align: center;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  }
  div.gallery img {
      width: 70%;
      height: auto;
      }

      #location {
        clear: left;
        background-image: url("https://media.istockphoto.com/id/483659149/photo/professional-scissors.webp?b=1&s=170667a&w=0&k=20&c=jg_d5FMscvIxskjabgGzqSVtF_pCLNUHPT9rEwSpx_Q=");
        background-repeat: no-repeat;
        padding: 10px;
        font-size: 100%; 
      text-align: left;
      background-position: center;
      background-size: cover;  
        height: 700px; 
       width: auto; 
       align-items: center; 
     }  

     P {
      line-height: 32px;   
      margin-bottom: 30px; 
     } 
     
     header {
      background-color: white;
      /* position: fixed; */
       top: 0; 
       left: 0;
      right: 0;
      height: auto;
      display: flex; 
       align-items: center; 
  }
  
  header * {
      display: inline;
  }
  
  header li {
      margin: 10px;
  }
  
  header li a {
      color: black;
      text-decoration: none;
  }
 
  


   tr  {
   
    /* color: brown; */
    background: bisque;
    border-radius: 50px;
    border: 10px;
    margin-block: 10px;
    padding: 1px;
    margin: 20px;
    width: auto;
   height: 120px;

  }

   #appointment {
    border-radius: 100px;
    margin: 20px;
  }

  form {
    
    background: bisque;
    right: auto;
    padding: 51px;
    border: solid;
    width: 492px;             
  }

  button {   
    color: black;
    background: darkorange;
  }
  .prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto;
  }
  .price {
    background-color: white;
    border: 1px #9C7957 solid;
    padding: 15px;
    border-radius: 3px;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    max-width: calc(50% - 52px);
    width: 100%;
  }
  
.price span {

   font-size: x-large;
  background: burlywood;
  border: black;
  padding: 1%;
  border-radius: 100%;

}
footer h3 {
  /* color: #fff; */
  margin-bottom: 20px;
  text-transform: none;
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 1px;
  width: 100%;
}
#footer-section {
  justify-content: space-between;
}
  